{% extends getPartial('page-design') %}

{% import "Frontend::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title          trans("Frontend::Template.privacyPolicy", {"hyphen": ""}) %}
        {% block description    trans('Frontend::Template.privacyPolicyMetaDescription') %}
        {% block robots         ceresConfig.meta.robotsPrivacyPolicy %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    {% set privacyPolicy = services.legalInformation.getPrivacyPolicy() %}

    <div class="container-max page-content">
        <div class="row">
            <div class="col-12">
                {% autoescape false %}
                    <h1 class="pt-3">{{ trans("Frontend::Template.privacyPolicy", {"hyphen": "&shy;"}) }}</h1>
                {% endautoescape %}

                <hr class="my-5">

                {% if privacyPolicy.htmlText %}
                    {{ privacyPolicy.htmlText | raw }}
                {% else %}
                    <p>{{ privacyPolicy.plainText }}</p>
                {% endif %}

                {{ LayoutContainer.show("Frontend::StaticPages.PrivacyPolicy") }}
            </div>
        </div>
    </div>

{% endblock %}
